<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="header-title">Bonjour {{ user.data.first_name }}</div>
  </ion-header>

  <div class="push-days">
    <div class="push-days__notif">
      <ion-icon size="large" name="information-circle-outline"></ion-icon>
      Vous n'avez pas pratiqué depuis 4 jours.
    </div>
  </div>

  <p class="home-date">Aujourd'hui</p>

  <div id="cards-container">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle
          ><ion-icon name="walk-outline" size="medium"></ion-icon
          >marche</ion-card-subtitle
        >
        <ion-card-title
          >2,456 <span class="card-title__span">pas</span></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/images/square_up.svg" alt="" />
      </ion-card-content>
    </ion-card>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle
          ><ion-icon name="flame-outline"></ion-icon>calories</ion-card-subtitle
        >
        <ion-card-title
          >2,456 <span class="card-title__span">cal</span></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/images/stat-up.svg" alt="" />
      </ion-card-content>
    </ion-card>
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-subtitle
          ><ion-icon name="barbell-outline" size="medium"></ion-icon
          >sports</ion-card-subtitle
        >
        <ion-card-title
          >20 <span class="card-title__span">ex</span></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/images/stretching.svg" alt="" />
      </ion-card-content>
    </ion-card>

    <button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </button>
  </div>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>
