<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="content-logo">
      <img src="../../../assets/waves.png"alt="">
    </div>
    <div class="header-title login">Bienvenue<br>Inscription.</div>
  </ion-header>
  <div class="container-form">
   
      <ion-input name="input-login" placeholder="Nom" required></ion-input>
      <ion-input name="input-login" placeholder="Prénom" required></ion-input>
      <ion-input name="input-login" placeholder="Age" required type="number"></ion-input>
      <ion-input name="input-login" placeholder="Taille en cm" required type="number" maxlength="3"></ion-input>
      <ion-input name="input-login" placeholder="Email" required></ion-input>
      <ion-input name="input-login" placeholder="Mot de passe" required></ion-input>
      <ion-input name="input-login" placeholder="Confirmer mot de passe"></ion-input>
      
      
      <ion-button name="button-login" color="primary">Primary</ion-button>
    </div>
    
  <div class="content-logo">
    <img src="../../../assets/waves-2.png"alt="">
  </div>
</ion-content>
