.header-title {
    padding: 30px 3% 10px 3%;
    color: var(--ion-color-light-contrast);
    font-weight: 900;
    font-size: 3rem;
    line-height: 1em;
    width: 85%;
}
.container-form {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}
ion-input {
    width: 250px;
    height: 39px;
    border-radius: 15px;
    margin-bottom: 25px;  
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}