<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="content-logo">
      <img src="../../../assets/waves.png"alt="">
    </div>
    <div class="header-title login">Hello<br>Mot de passe oublié.</div>
  </ion-header>
  <div class="container-form">
    <div class="push-mail">
      <div class="push-mail__notif">
        <ion-icon size="large" name="information-circle-outline"></ion-icon>
        <p>Veuillez indiquer votre adresse mail liée à votre compte</p>
      </div>
    </div>
    <div class="push-mail__info">
      <p>Nous allons t'envoyer un lien pour réinitialiser ton mot de passe</p>
    </div>
    
    
    <ion-input name="input-login" placeholder="Email" required></ion-input>    
    <ion-button name="button-login" color="primary">Primary</ion-button>
  </div>
  <div class="content-logo">
    <img src="../../../assets/waves-2.png"alt="">
  </div>
</ion-content>
