:root {
	--ion-color-primary: #e84118;
	--ion-color-primary-rgb: 232,65,24;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #cc3915;
	--ion-color-primary-tint: #ea542f;

	--ion-color-secondary: #c23616;
	--ion-color-secondary-rgb: 194,54,22;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #ab3013;
	--ion-color-secondary-tint: #c84a2d;

	--ion-color-tertiary: #e62a00;
	--ion-color-tertiary-rgb: 230,42,0;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #ca2500;
	--ion-color-tertiary-tint: #e93f1a;

	--ion-color-success: #44bd32;
	--ion-color-success-rgb: 68,189,50;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #3ca62c;
	--ion-color-success-tint: #57c447;

	--ion-color-warning: #f6c31e;
	--ion-color-warning-rgb: 246,195,30;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d8ac1a;
	--ion-color-warning-tint: #f7c935;

	--ion-color-danger: #a42d5d;
	--ion-color-danger-rgb: 164,45,93;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #902852;
	--ion-color-danger-tint: #ad426d;

	--ion-color-medium: #9a9084;
	--ion-color-medium-rgb: 154,144,132;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #887f74;
	--ion-color-medium-tint: #a49b90;

	--ion-color-light: #f5f0ef;
	--ion-color-light-rgb: 245,240,239;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8d3d2;
	--ion-color-light-tint: #f6f2f1;

}