<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="content-logo">
      <img src="../../../assets/waves.png"alt="">
    </div>
    <div class="header-title login">Hello<br>Connexion.</div>
  </ion-header>
  <div class="container-form">
    <div class="path-login">
        <p routerLink="/sign-up">Créer un compte</p>
    </div>
    <ion-input name="input-login" placeholder="Adresse mail"></ion-input>
    <ion-input name="input-login" placeholder="Mot de passe"></ion-input>
    <div class="path-login">
        <p routerLink="/forgot-password">Mot de passe oublié ?</p>
      </div>
    
    <ion-button name="button-login" color="primary">Primary</ion-button>
  </div>
  <div class="content-logo">
    <img src="../../../assets/waves-2.png"alt="">
  </div>
</ion-content>
