<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="content-logo">
      <img src="../../../assets/waves.png"alt="">
    </div>
    <div class="header-title login">Hello<br>Connexion.</div>
  </ion-header>
  <div class="container-form">
    <div class="path-login">
        <p routerLink="/sign-up">Créer un compte</p>
    </div>
    <ion-input name="input-login" placeholder="Adresse mail"></ion-input>
    <ion-input name="input-login" placeholder="Mot de passe"></ion-input>
    <div class="path-login">
        <p routerLink="/forgot-password">Mot de passe oublié ?</p>
      </div>
    
    <ion-button name="button-login" color="primary">Primary</ion-button>
  </div>
  <div class="content-logo">
    <img src="../../../assets/waves-2.png"alt="">
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Devdactic App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(password.dirty || password.touched) && password.errors"
        class="errors"
      >
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength"
          >Password needs to be 6 characters</span
        >
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Log in</ion-button
    >
    <ion-button type="button" expand="block" color="light" fill="clear"
      >Not yet a member? Sign up!
    </ion-button>

    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Sign in with Apple
    </ion-button>
  </form>
</ion-content>
