.header-title {
    padding: 30px 3% 10px 3%;
    color: var(--ion-color-light-contrast);
    font-weight: 900;
    font-size: 3rem;
    line-height: 1em;
    width: 85%;
}
.login {
    padding-top: 30px;
}
.container-form {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}
ion-input {
        width: 250px;
        height: 39px;
        border-radius: 15px;
        margin-bottom: 15px;  
        text-align: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content-path-login {
    display: flex;
}
.path-login {
      font-weight: 600;
  }