#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    ion-card {
      margin: 20px 0;
      width: calc(50% - 35px);
      border-radius: 20px;
      height: 215px;
    }
    .one {
        background-color: #48E5C2;
    }
    .icon-menu {
        margin: 10px 15px 0 10px;
    
        
    }
    
    
   
  }
 